.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem ;
}
.cabecalho__logo{
    height: 4.5rem;
}
.cabecalho__menu{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    color: #0000;
}

.cabecalho__menu-item{
    color: #fff2e7;
    font-size: 1.125rem;
}