.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem ;
}
.cabecalho__logo{
    height: 4.5rem;
}
.cabecalho__menu{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    color: #0000;
}

.cabecalho__menu-item{
    color: #fff2e7;
    font-size: 1.125rem;
    border-radius: 20px;
}
a:nth-child(1).cabecalho__menu-item:hover{
    background-color: rgb(6, 250, 6 , 0.1);
    border-radius: 20px;box-shadow: 1px 1px 30px rgb(6, 250, 6 , 0.5);
}
a:nth-child(2).cabecalho__menu-item:hover{
    background-color: rgba(250, 6, 59, 0.1); 
    box-shadow: 1px 1px 30px rgb(250, 6, 217 , 0.5);
}
a:nth-child(3).cabecalho__menu-item:hover{
    background-color: rgba(234, 250, 6, 0.1);
    box-shadow: 1px 1px 30px rgb(234, 250, 6 , 0.5);
}
a:nth-child(4).cabecalho__menu-item:hover{
    background-color: rgba(22, 6, 250, 0.1);
    box-shadow: 1px 1px 30px rgb(22, 6, 250, 0.5);
}