.conteudo__principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo__principal-texto{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.conteudo__principal-titulo{
    font-family: var(--fonte-titulo);
    font-size: 4rem;
}
.conteudo__principal-subtitulo{
    font-size: 1.5rem;
    color: #ecd6c4;
}
.conteudo__principal-botao{
    background-color: #ecd6c4;

    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);

    color: #2f2325;
    font-size: 1.5rem;
    

    width: 11.25rem;
    height: 3.75rem;

    animation: pulse-button 2.5s infinite;
}
/* Aqui definimos o que acontece a cada momento da animação */
@keyframes pulse-button {
    0% {
        box-shadow: 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        box-shadow: 0 0 30px rgba(255, 82, 82, 1);
    }
    100% {
        box-shadow: 0 0 0 rgba(255, 82, 82, 0.7);
    }
}
.conteudo__principal-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo__principal-imagem{
    height: 26.875rem;
}
@media screen and (max-width: 600px){
    .conteudo__principal{
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
        text-align: center;
    }
    .conteudo__principal-imagem{
        height: 12rem;
        margin-bottom: 1rem;
    }
    .conteudo__principal-botao{
        display: block;
        width: 100%;
    }
}